{% extends "base.html" %}
{% load i18n %}

{% block content %}

{% for event in object_list %}
<div class="row-fluid">
<div class="span4">
    <img class="logo img-polaroid" src="{{ event.logo.url }}"/>
</div>

<div class="span8">

<h2 class="center-text">{{ event.title }}

<form action="/events/{{ event.id }}/delete/"
      method="POST"
      style='display:inline;'>{% csrf_token %}
      <input type="submit" value="{% trans 'delete' %}" style='display:inline;'/>
</form>
</h2>
<h4 class="center-text">
{{ event.moto}}
</h4>
<p>
<div class="center-text"><i>{{ event.description}}</i></div>
</p>
{% trans "Participants:" %}
<a href="/events/{{ event.id }}/add/"><input type="button" value="{% trans 'Add' %}" style='display:inline;'/></a>
<ul>
    {% for participant in event.participants.all %}
    <li><a href="/events/{{ event.id }}/participant/{{ participant.id }}/pdf/">PDF</a>
        {{ participant.username }}: <i>{{ participant.topic}}</i>
        <form action="/events/{{ event.id }}/participant/{{ participant.id }}/delete/"
                                method="POST" style='display:inline;'>{% csrf_token %}
            <input type="submit" value="{% trans 'X' %}" style='display:inline;'/>
        </form>
    </li>
    {% endfor %}
</ul>

</div>

</div>
</br>
{% endfor %}

<h2 class="center-text"><a href="/events/new/">{% trans "Add event" %}</a></h2>

{% endblock %}
